body .video-preview > .id-contents-wrapper > .contents > iframe,
content iframe[src^="https://play.google.com/video/lava/player"],
iframe.pmf-iframe{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
